<section class="header-3-sub bg-clouds">
    <div class="background">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="span6">
                <h3>Twenty five awesome samples</h3>
                <p>
                    These Samples will guide you through and show how to use the blocks and give you the feeling on how
                    to play
                    around using the components in the website building process.
                </p>
            </div>
        </div>
    </div>
</section>

